@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Tangerine:wght@400;700&display=swap');



body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Tangerine", serif;
    font-family: "Playfair Display", serif;
    background-color: #e9d9c6;
    color: #545454;
}

/*#588038
#545454*/

main {
    margin: 0 auto;
    max-width: 800px;
}

section{
    width: 100%;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}


@keyframes reveal {
    from {
        opacity: 0.1;
        translate: 0 40px;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: #e9d9c6;
     color: #588038;
     }

/*-----------------------    Primera Seccion    -----------------------*/
.section-1{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.section-1 article{
    width: 88%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    z-index: 50;
    text-align: center;
}

.section-1 article span{
    display: block;
}

.insignia {
    width: 280px;
    border-radius: 50%;
}

.flores3{
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.flores2{
    width: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.flores1{
    width: 160px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.flores4{
    width: 180px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.flores5{
    width: 100px;
    position: absolute;
    top: 200px;
    left: 0;
    z-index: 1;
}

.flores6{
    rotate: 180deg;
    width: 100px;
    position: absolute;
    top: 220px;
    right: 0;
    z-index: 1;
}

.datos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:18px;
}

h1{
    font-family: "Tangerine", serif;
    font-size: 60px;
    margin: 0;
    margin-top: 25px;
    color: #588038;
}

.nuestra{
    font-family: "Tangerine", serif;
    font-size: 55px;
}

.fecha, .ciudad{
    font-size: 25px;
}

#countdown {
    font-size: 15px;
    background-color: #f0f0f03b;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4px;
}

/*-----------------------    Segunda Seccion    -----------------------*/
.section-2 {
    height: 80vh;
    background: url('img/fotos/DSC_3720.webp') no-repeat center center/cover;
}

/*-----------------------    Tercera Seccion    -----------------------*/
.section-3 {    
    width: 100%;
    text-align: center;
    background-color: #545454;
    color: #e9d9c6;
    padding: 50px 0px;
    font-size: 25px;
}

.section-3 p{
    margin: auto 15px;
}

/*-----------------------    Cuarta Seccion    -----------------------*/

.section-4{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    font-family: "Tangerine", serif;
}

.section-4 article{
    width: 80%;
    margin-top: 50px;
    z-index: 50;
    text-align: center;
    padding: 40px 15px;
    backdrop-filter: blur(5px);
    border: 1px solid #588038;
    border-radius: 10px; 
}

.section-4 h2{
    font-size: 55px;
    margin: 0;
    margin-top: 25px;
    color: #588038;
}

.section-4 h4{
    font-size: 35px;
    margin: 0;
    margin-top: 25px;
    color: #588038;
}

.section-4 p{
    font-size: 32px;
    margin: 0;
    margin-top: 25px;
    
}

.cross-svg{
    width: 14px;
    margin-left: 6px;
}

/*-----------------------    Quinta Seccion    -----------------------*/
.slider {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #545454;
}

.slides {
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 15px;
    cursor: pointer;
}

/*-----------------------    Sexta Seccion    -----------------------*/
.section-6{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

.datos-contenedor{
    width: 80%;
    margin: 0 auto;
    z-index: 50;
    padding: 10px 15px;
    backdrop-filter: blur(5px);
    border: 1px solid #588038;
    border-radius: 10px; 
}

.datos-contenedor article{
    padding: 50px;
}

.svg-container {
    display:   flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #588038;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    border-radius: 100%;
}

.svg{
    width: 70px;
    height: 70px;
}

.datos-contenedor h4{
    font-family: "Tangerine", serif;
    font-size: 45px;
    margin: 6px;
    color: #588038;
}

.hora{
    font-size: 25px;
    margin: 1px;
}

.direccion{
    font-size: 18px;
}

/*-----------------------    Septima Seccion    -----------------------*/
.section-7{
    background-color: #545454;
    color: #e9d9c6;
    padding: 50px 0;
}

.section-7 p{
    padding: 18px 0;
    text-align: center;
    font-size: 25px;
}

.itinerario{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.contenedor-evento{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    text-align: start;
}

.evento span{
    display: block;
}

.container-img-green{
    padding: 10px;
    background-color: #e9d9c6;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-green{
    width: 30px;
}

/*-----------------------    Octava Seccion    -----------------------*/
.section-8{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.section-8 article{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    z-index: 50;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 1px solid #588038;
    padding: 40px 10px;
    border-radius: 10px;
}

.section-8 .container-gift div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-8 h2{
    font-family: "Tangerine", serif;
}

.section-8 p{
    font-size: 20px;
}

.gift{
    width: 70px;
}

.gift-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 110px;
    border: 1px solid #588038;
    border-radius: 100%;
}

.container-gift h2{
    font-size: 45px;
    margin: 0;
    margin-top: 25px;
    color: #588038;
}

 a{
    background-color: #545454;
    color: #e9d9c6;
    padding: 10px 50px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
}

.section-8 span{
    margin-top: 5px;
    font-size: 15px;
}

/*-----------------------    Novena Seccion    -----------------------*/
.section-9{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #545454;
    color: #e9d9c6;
    text-align: center;
}

.section-9 article{
    display: flex;
}

.section-9 article div{
    width: 50%;
}

.tie-svg{
    width: 80px;
    margin: 20px;
    border: #e9d9c6 1px solid;
    padding: 10px;
    border-radius: 100%;
}

.section-9 h2{
    font-size: 40px;
    margin: 15px;
    font-family: "Tangerine", serif;
}

.section-9 p{
    margin: auto 10px;
}

/*-----------------------    Decima Seccion    -----------------------*/
.section-10{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9d9c6;
    padding: 80px 0;
    text-align: center;

    z-index: -1;
}

.section-10 img{
    position: absolute;
    width: 100px;
    z-index: 1;
}

.section-10 h2{
    font-size: 40px;
    margin-bottom: 35px;
    font-family: "Tangerine", serif;
}

.flores-abajo{
    bottom: 0;
    right: 0;
}

.flores-abajo1{
    bottom: 0;
    left: 100px;
}

.flores-abajo4{
    bottom: 0;
    left: 0;
}

.flores-abajo2{
    bottom: 0;
    right: 100px;
}

.flores-abajo3{
    bottom: 0;
    left: auto;
}

.section-10 article{
    width: 80%;
    backdrop-filter: blur(10px);
    z-index: 10;
    margin: 0 auto;
    padding: 30px 0;
    border: 1px solid #588038;
    border-radius: 10px;
}

form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

input{
    width: 80%;
    height: 30px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #58803833;
    color: #292828;
    font-family: "Playfair Display", serif;
}

button{
    border: none;
    background-color: #545454;
    color: #e9d9c6;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 20px;
}



/*-----------------------    Onceava Seccion    -----------------------*/
.section-11 {    
    width: 100%;
    text-align: center;
    background-color: #545454;
    color: #e9d9c6;
    padding: 30px 0px;   
}

.section-11 h2{
    font-family: "Tangerine", serif;
    font-size: 40px;
}

.section-11 p{
    margin: auto 5px;
}